@import url('https://fonts.cdnfonts.com/css/raleway-5');

body
{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 2%;
	margin: 0;
}

nav
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
}

nav .profile
{
	display: flex;
	align-items: center;
}

nav .profile h1
{
	margin-left: 0px;
	font-size: 26px;
}

nav ul
{
	display: flex;
	list-style-type: none;
}

nav ul li
{
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav ul li:hover
{
	border-bottom-color: black;
}

.page-content {
	margin: 1%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 5vw;
}
.page-content header p {
	line-height: 30px;
	color: #818181;
}

.page-content .presentation-image
{
	margin-top: 5%;
}
.page-content .presentation-image img
{
	max-width: 100%;
	height: auto;
}

.page-content .projects-section
{
	margin-top: 6%;
}

.page-content .projects-section h1
{
	text-transform: uppercase;
	font-size: 3vw;
}

.page-content .projects-section .projects
{
	display: flex;
	flex-wrap: wrap;
}

.page-content .projects-section .project
{
	margin-right: 20px;
	max-width: 195px;
}

.page-content .projects-section .project h4
{
	margin: 0;
}

.page-content .projects-section .project .description
{
	font-size: 13px;
}

.page-content .projects-section .project .dates
{
	font-size: 13px;
	color: rgb(145, 145, 145);
}

footer
{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: black;
	color: white;
}

@media screen and (max-width: 700px)
{

	.miniImg
	{
    height: 80%;
	}
	
	nav
	{
		justify-content: center;
		right: 0px;
	}

	/*nav ul
	{
		display: none;
	}*/

	.page-content header
	{
		margin-top: 10%;
		max-width: 100%;
	}

	.page-content .projects-section
	{
		margin-top: 15%;
	}

	.page-content .projects-section h1
	{
		font-size: 1.5em;
	}

	.page-content .projects-section .project
	{
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}

	.page-content .projects-section .project .description
	{
		font-size: 13px;
	}

	footer 
	{
		justify-content: flex-start;
	}

	.page-content .presentation-image img 
	{
		max-width: 100%;
		height: auto;
	}
}

a.reddit
{
	text-decoration: none;
	color: black;
}

p.pagetitle
{
	font-size: 50px;
	margin-left: 25%;
	font-weight: 1000;
}

.pagetitle1
{
	font-size: 50px;
	margin-left: 18%;
	font-weight: 1000;
}

div.bordure 
{
	border-bottom:4px solid black;
}

a.pages
{
	text-decoration: none;
	color: black;
}

a.reddit1
{
	text-decoration: none;
	color: #818181;
	border-bottom:1px solid black;
	font-size: 120%;
}

p.mail
{
	font-size: 120%;
}

.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 75%;
	height: auto;
	align-items: center;
}

p.paragraphleft
{
	max-width: 80%;
}

h1.titleright
{
	text-align: end;
}

p.paragraphright
{
	text-align: end;
	margin-left: 20%;
}

.boxleft
{
	justify-content: center;
	left: 0px;
}

.picleft
{
	width: 20%;
	margin-left: 4%;
	cursor: pointer;
}

.boxright
{
	justify-content: center;
	text-align: end;
	margin-right: 4%;
}

.picright
{
	width: 35%;
	margin-left: 4%;
	cursor: pointer;
}

.picrightvertical
{
	width: 20%;
	margin-left: 4%;
	cursor: pointer;
}

.divfriends
{
	justify-content: center;
}

.picfriends
{
	width: 30%;
	margin-left: 1%;
	cursor: pointer;
}

.picfriends:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.photosgauche1:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.photosdroite1:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.picleft:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.picright:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.picrightvertical:hover
{
	border: solid 12px lightgrey;
	transition: all .5s;
}

.miniImg
{
    height: 85%;
	border: solid 24px whitesmoke
}

.photosdroite
{
	justify-content: center;
	text-align: end;
	margin-right: 1%;
}

.photosgauche
{
	justify-content: center;
}

.photosdroite1
{
	width: 40%;
	margin-left: 1%;
}

.photosgauche1
{
	width: 40%;
	margin-left: 1%;
}

.solo
{
	width: 100%;
}

.modal 
{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	align-items: center;
	justify-content: center;
	right: 0; top:0;
 	bottom:0 ; left: 0;
	display: flex;
	background: rgba(0, 0, 0, .4);
}

.modal:target
{
	visibility: visible;
	opacity: 1;
}

.modal_content 
{
	align-items: center;
	justify-content: center;
	position: relative;
}
  
.modal_close 
{
	margin-right: 0px;
	right: 0px;
	font-size: 200%;
	color: white;
	position: absolute;
	text-decoration: none;
}

.video
{
	margin-left: 4%;
}
